@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

::-webkit-scrollbar {
  width: 0px;
}

body,
* {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@layer components {
  .max-container {
    max-width: 1520px;
    margin: 0 auto;
  }

  .mid-container {
    max-width: 1265px;
    margin: 0 auto;
  }
}

/* Define the keyframe animation for upward motion */
@keyframes slide-up {
  from {
    transform: translateY(20px); /* Start below its normal position */
    opacity: 0; /* Start invisible */
  }
  to {
    transform: translateY(0); /* End at its normal position */
    opacity: 1; /* End visible */
  }
}

/* Style for the <p> tag to be animated */
.animate-slide-up {
  animation: slide-up 0.5s ease-out;
}
